/* CAROUSEL */
.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.carousel {
  display: flex;
  width: 100%;
  max-width: 900px;
  height: 300px; 
  margin: 70px 0 70px;
  overflow: hidden;
  position: relative;
}

.carousel-inner {
  display: flex;
  height: 100%;
  transition: transform 1s ease-in-out;
  margin: 0;
  padding: 0;
  width: auto; 
}

.carousel-inner img {
  flex: 0 0 100%; 
  width: 100%;
  height: 100%;
  object-fit: cover;   
  object-position: center;
  margin: 0;        
  display: block;    
}

.side-banners img {
  width: 450px;
  display: block;
  margin: 0; 
  padding: 0;
}

/* CATEGORIES CARD */
.categories {
  text-align: center;
  padding: 50px 0;
  background-color: #f8f8f8;
}

.categories h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 30px;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 200px)); 
  gap: 20px; 
  justify-content: center; 
  padding: 0 20px; 
  max-width: 1200px; 
  margin: 0 auto; 
}

.category-link {
  color: black;
}

.category-card {
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
    height: 100%;
}

.category-card:hover {
  transform: scale(1.05); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* HOME PAGE PRODUCTS */
.items h1 {
 text-align: center;
  font-size: 2rem;
  color: #333;
  margin-bottom: 30px;
}

.product-list {
 display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px; 
  padding: 20px;
}

.product-card {
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.4s ease, box-shadow 0.5s ease;
    background-color: #fff;
    width: 250px; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.product-card img {
    width: 200px; 
    height: 200px;    
    object-fit: contain; 
    object-fit: cover;  
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.add-to-cart {
    font-family: 'Amazon Ember';
    background-color: #ff9900;
    color: white;
    font-size: 15px;
    margin-top: 5px;
    padding: 2px 10px;
    border-radius: 5px;
    border: none;
    transform: scale(1);
    transition: 0.4s;
}

.add-to-cart:hover {
    background-color: #333;
    transform: scale(1.1);
}
