/* PRODUCT LISTING STYLES */

.items h1 {
 text-align: center;
  font-size: 2rem;
  color: #333;
  margin-bottom: 30px;
  margin-top: 25px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center items for a cleaner look */
  gap: 20px; /* Add gap for spacing */
  padding: 20px;
}

.product-card {
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.4s ease, box-shadow 0.5s ease;
    background-color: #fff;
    width: 250px; /* Give a fixed width */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-card img {
    width: 100%; 
    height: 200px;    
    object-fit: contain; 
    margin-bottom: 15px;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.add-to-cart {
    font-family: 'Amazon Ember';
    background-color: black;
    color: white;
    font-size: 15px;
    margin-top: 10px;
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    transform: scale(1);
    transition: 0.4s;
}

.add-to-cart:hover {
    background-color: #333;
    transform: scale(1.1);
}