* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Amazon Ember', Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

/* HEADER */
.logo {
  height: 120px;  
  width: auto;  
  display: block;
  margin: 0;
  padding: 0;
}

.navbar {
    display: flex;
    align-items: center;
    background: linear-gradient(135deg, #333, #ff9900);
    padding: 0px 40px; 
    justify-content: space-between;
}

.navbar a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    text-decoration: none;
}

.cart {
  display: flex;
  align-items: center;
  gap: 5px;
}

.cart a {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 18px;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.cart a:hover {
    color:#ff9900 ;
}

.cart .material-symbols-outlined {
    font-size: 35px; 
}


.navlinks {
    font-size: 15px;
    display: flex;
    gap: 20px;
    color: white;
    padding: 0px 10px 0px;
    margin-right: 20px;


}.navlinks, a {
    color: white;
    text-decoration: none;
    list-style: none;

}

/* PRODUCTS */
.items {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;

}

.product-card {
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);    cursor: pointer;
    transition: all 0.3s ease;
    height: 100%;
    transition: transform 0.4s ease, box-shadow 0.5s ease;

}

.product-card img {
    width: 200px; 
    height: 200px;    
    object-fit: contain; 
    object-fit: cover;  
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.add-to-cart {
    font-family: 'Amazon Ember';
    background-color: black;
    color: white;
    font-size: 15px;
    margin-top: 5px;
    padding: 2px 10px;
    border-radius: 5px;
    border: none;
    transform: scale(1);
    transition: 0.4s;
}


.add-to-cart:hover {
    background-color: #333;
    transform: scale(1.1);
}


