* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Amazon Ember', Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
}


.logo {
  height: 120px;  
  width: auto;  
  display: block;
  margin: 0;
  padding: 0;
}

.navbar {
    display: flex;
    justify-content: center;   
    align-items: center;
     background: linear-gradient(135deg, #333, #ff9900);
    padding: 0px 20px; 
    gap: 100px;
}



.navlinks {
    font-size: 15px;
    display: flex;
    gap: 20px;
    color: white;
    padding: 0px 10px 0px;
    margin-right: 20px;
}

.navlinks, a {
    color: white;
    text-decoration: none;
    list-style: none;

}

.navlinks a:hover {
    color:#ff9900 ;
}

.search {
  border: none;
  display: flex;
  justify-content: center;
  flex: 1;
  max-width: 700px;
}

.search-input {
  flex: 1; 
  padding: 10px 15px;  
  font-size: 16px;    
  height: 40px;  
}

.search-input,
.search-btn {
    outline: none;
    box-shadow: none;
    border: none;
}

.cart a {
  font-size: 28px;
  cursor: pointer;
}

.cart a:hover {
    color:#ff9900 ;
}


.cart .material-symbols-outlined {
    font-size: 35px; 
}

.search-btn {
    background: #ff9900;   
    border: none;         
    padding: 0 15px;            
    cursor: pointer;
    display: flex;      
    align-items: center;
    justify-content: center;
    height: 40px          
}

/* CAROUSEL */

.main-content {
  display: flex;
  align-items: center;
  margin-right: 70px;
}

.carousel {
  display: flex;
  width: 100%;
  max-width: 900px;
  height: 300px; 
  margin: 70px 0 70px 70px;
  overflow: hidden;
  position: relative;
}

.carousel-inner {
  display: flex;
  height: 100%;
  transition: transform 1s ease-in-out;
  margin: 0;
  padding: 0;
  width: auto; 
}


.carousel-inner img {
  flex: 0 0 100%; 
  width: 100%;
  height: 100%;
  object-fit: cover;   
  object-position: center;
  margin: 0;        
  display: block;    
}


.side-banners img {
  width: 450px;
  display: block;
  margin: 0; 
  padding: 0;
}

/* CATEGORIES CARD */

.categories {
  text-align: center;
  padding: 50px 0;
  background-color: #f8f8f8;
}

.categories h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 30px;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 200px)); 
  gap: 20px; 
  justify-content: center; 
  padding: 0 20px; 
  max-width: 1200px; 
  margin: 0 auto; 
}

.category-link {
  color: black;
}

.category-card {
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
    height: 100%;
}

.category-card:hover {
  transform: scale(1.05); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
